@{
    ViewData["Title"] = "Our Books";
}

@model BooksViewModel
@{
    TempData["AlertMessage"] = "We're celebrating Women's History Month! Get free shipping for orders over $50! Offer ends April 1!";
    TempData["AlertType"] = "alert-success";
}

@if (TempData["AlertMessage"] != null)
{
    <div class="alert @TempData["AlertType"] alert-dismissible fade show" role="alert">
        @TempData["AlertMessage"]
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}
<center>
    <h1>Welcome to the Banana Bread Bookstore</h1>
    <h3>Browse Our Books Below!</h3>
</center>

@foreach (Book b in Model.Books)
{
    <partial name="BookSummary" model="b" />
}

<div page-numbers="@Model.PageInfo" page-action="Index" page-classes-enabled="true"
     page-class="btn" page-class-normal="btn-outline-dark"
     page-class-selected="btn-primary" class="btn-group pull-right m-1 ">
</div>