@page
@model Mission9_owenk7.Pages.ConfirmationModel
@{
}

<div class="text-center">
    <h2>Your order has been completed.</h2>
    <h5>An awesome book recommendation from Professor Hilton is on its way!!</h5>
    <a class="btn btn-primary" asp-controller="Home">Return to Books</a>
</div>